@import url(./_title/section-title_theme_dark.css);
@import url(./_subtitle/section-subtitle_theme_dark.css);
@import url(./_table/table_theme_dark.css);
@import url(./_cell/table__cell_theme_dark.css);
@import url(./_heading/table__heading_theme_dark.css);
@import url(./_text/table__text_theme_dark.css);
@import url(./__triangle/kaufman__triangle.css);

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}
